In [11]:
import pandas as pd
import numpy as np
import seaborn as sns

In [12]:
#pd.set_option("display.float_format", "{:.2f}".format)

In [13]:
df = pd.read_csv('../Data/kc_house_data.csv')

### Columns

In [14]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

No duplicate columns. Clean column names.

### Tail of Data Frame

In [15]:
df.tail()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21592,263000018,5/21/2014,360000.0,3,2.50,1530,1131,3.0,0.0,0.0,...,8,1530,0.0,2009,0.0,98103,47.6993,-122.346,1530,1509
21593,6600060120,2/23/2015,400000.0,4,2.50,2310,5813,2.0,0.0,0.0,...,8,2310,0.0,2014,0.0,98146,47.5107,-122.362,1830,7200
21594,1523300141,6/23/2014,402101.0,2,0.75,1020,1350,2.0,0.0,0.0,...,7,1020,0.0,2009,0.0,98144,47.5944,-122.299,1020,2007
21595,291310100,1/16/2015,400000.0,3,2.50,1600,2388,2.0,NaN,0.0,...,8,1600,0.0,2004,0.0,98027,47.5345,-122.069,1410,1287
21596,1523300157,10/15/2014,325000.0,2,0.75,1020,1076,2.0,0.0,0.0,...,7,1020,0.0,2008,0.0,98144,47.5941,-122.299,1020,1357

### Fix Datatypes

- [X] date           21597 non-null  object 
- [X] price          21597 non-null  float64
- [X] waterfront     19221 non-null  float64. Cannot convert to int64 due to NA values. Keeping as float.
- [X] view           21534 non-null  float64. Cannot conver to int64 due to NA values. Keeping as float.
- [X] sqft_basement  21597 non-null  object. 
- [X] yr_renovated   17755 non-null  float64. Cannot convert to int due to NA values. Keeping as float. 
- [X] We keep bedrooms as integer type as it's not continuous. Bathrooms is a float (it doesn't make sense to have a .75). Will be using OneHotEncoding for Bathrooms.

In [16]:
# Converting data
df.date = pd.to_datetime(df.date, format='%m/%d/%Y')
# Converting price
df.price = df.price.astype(np.int64)
# Removing question marks so we can convert from object 
indexNames = df[df['sqft_basement'] == '?' ].index
df.drop(indexNames, inplace=True)
# Converting 'sqft_basement' to integer
# df.sqft_basement = df.sqft_basement.astype(np.int64)
# https://www.quora.com/How-do-I-fix-ValueError-invalid-literal-for-int-with-base-10-0-25

In [17]:
df.to_csv('/Users/rashidbaset/Code/github/predict-house-value/Data/processed_kc_housing.csv', index = False)

### Exploring the raw data

#### Sorting the data: Value counts for each column

In [19]:
for c in df.columns:
    print ("---- %s ---" % c)
    print (df[c].value_counts())

---- id ---
795000620     3
9238500040    2
8062900070    2
8161020060    2
5430300171    2
             ..
3021059276    1
880000205     1
8165500110    1
9492500170    1
1777500160    1
Name: id, Length: 20970, dtype: int64
---- date ---
2014-06-23    139
2014-06-25    130
2014-07-08    126
2014-06-26    125
2015-03-25    122
             ...
2014-07-27      1
2015-03-08      1
2014-11-02      1
2015-05-15      1
2015-05-24      1
Name: date, Length: 372, dtype: int64
---- price ---
350000    168
450000    167
550000    155
500000    149
425000    146
         ...
789900      1
330950      1
699800      1
568450      1
303100      1
Name: price, Length: 3581, dtype: int64
---- bedrooms ---
3     9639
4     6740
2     2691
5     1560
6      262
1      191
7       36
8       13
9        6
10       3
11       1
33       1
Name: bedrooms, dtype: int64
---- bathrooms ---
2.50    5255
1.00    3757
1.75    2991
2.25    2014
2.00    1886
1.50    1422
2.75    1160
3.00     736
3.50     719
3.25     574
3.75     152
4.00     135
4.50      96
4.25      79
0.75      71
4.75      23
5.00      19
5.25      13
1.25       9
5.50       9
6.00       6
5.75       4
0.50       3
8.00       2
6.25       2
6.75       2
6.50       2
7.50       1
7.75       1
Name: bathrooms, dtype: int64
---- sqft_living ---
1300    135
1400    134
1440    130
1010    127
1660    127
       ...
4970      1
2905      1
2793      1
4810      1
6085      1
Name: sqft_living, Length: 1025, dtype: int64
---- sqft_lot ---
5000     348
6000     286
4000     244
7200     218
7500     119
        ...
11212      1
9165       1
41300      1
17377      1
14321      1
Name: sqft_lot, Length: 9643, dtype: int64
---- floors ---
1.0    10456
2.0     8066
1.5     1865
3.0      593
2.5      156
3.5        7
Name: floors, dtype: int64
---- waterfront ---
0.0    18662
1.0      142
Name: waterfront, dtype: int64
---- view ---
0.0    19018
2.0      930
3.0      496
1.0      327
4.0      311
Name: view, dtype: int64
---- condition ---
3    13726
4     5557
5     1666
2      166
1       28
Name: condition, dtype: int64
---- grade ---
7     8788
8     5933
9     2557
6     1997
10    1112
11     391
5      235
12      89
4       27
13      13
3        1
Name: grade, dtype: int64
---- sqft_above ---
1300    208
1010    207
1200    199
1220    191
1140    182
       ...
8860      1
2665      1
440       1
2473      1
1975      1
Name: sqft_above, Length: 935, dtype: int64
---- sqft_basement ---
0.0       12826
600.0       217
500.0       209
700.0       208
800.0       201
          ...
274.0         1
1008.0        1
2600.0        1
588.0         1
2196.0        1
Name: sqft_basement, Length: 303, dtype: int64
---- yr_built ---
2014    542
2006    443
2005    435
2004    422
2003    416
       ...
1933     30
1901     28
1902     27
1935     23
1934     21
Name: yr_built, Length: 116, dtype: int64
---- yr_renovated ---
0.0       16666
2014.0       69
2003.0       31
2013.0       31
2007.0       30
          ...
1953.0        1
1944.0        1
1934.0        1
1971.0        1
1959.0        1
Name: yr_renovated, Length: 69, dtype: int64
---- zipcode ---
98103    588
98038    574
98115    568
98052    562
98042    542
        ...
98102    100
98010     98
98024     79
98148     55
98039     49
Name: zipcode, Length: 70, dtype: int64
---- lat ---
47.5322    17
47.6624    17
47.5491    17
47.6846    16
47.6711    16
           ..
47.3027     1
47.4782     1
47.3919     1
47.1981     1
47.2715     1
Name: lat, Length: 5018, dtype: int64
---- long ---
-122.290    113
-122.300    109
-122.362    104
-122.291     98
-122.363     98
           ...
-121.403      1
-121.804      1
-121.726      1
-121.895      1
-121.893      1
Name: long, Length: 750, dtype: int64
---- sqft_living15 ---
1440    194
1540    192
1560    188
1500    173
1460    165
       ...
4890      1
2873      1
952       1
3193      1
2049      1
Name: sqft_living15, Length: 773, dtype: int64
---- sqft_lot15 ---
5000     416
4000     349
6000     283
7200     209
4800     140
        ...
6890       1
35576      1
9594       1
11004      1
6147       1
Name: sqft_lot15, Length: 8572, dtype: int64

#### Filtering data by various criteria