In [17]:
import pandas as pd
import numpy as np
import seaborn as sns

In [18]:
df = pd.read_csv('../../mod-2-project/data/kc_house_data.csv')

In [19]:
df.dtypes

id                 int64
date              object
price            float64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront       float64
view             float64
condition          int64
grade              int64
sqft_above         int64
sqft_basement     object
yr_built           int64
yr_renovated     float64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [20]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

In [21]:
len(df[df.duplicated()])

0

In [22]:
df.isna().mean().round(4) * 100

id                0.00
date              0.00
price             0.00
bedrooms          0.00
bathrooms         0.00
sqft_living       0.00
sqft_lot          0.00
floors            0.00
waterfront       11.00
view              0.29
condition         0.00
grade             0.00
sqft_above        0.00
sqft_basement     0.00
yr_built          0.00
yr_renovated     17.79
zipcode           0.00
lat               0.00
long              0.00
sqft_living15     0.00
sqft_lot15        0.00
dtype: float64

In [23]:
df.groupby(by = 'sqft_basement')['sqft_basement'].count().sort_values(ascending = False).head(4)

sqft_basement
0.0      12826
?          454
600.0      217
500.0      209
Name: sqft_basement, dtype: int64

In [24]:
df.loc[(df['sqft_basement'] == '?'), 'sqft_basement'] = df['sqft_living'] - df['sqft_above']

In [25]:
df['sqft_basement'] = df['sqft_basement'].astype(float)

In [26]:
df['waterfront'].unique()
df['waterfront'] = df['waterfront'].fillna(0)

In [27]:
df['yr_renovated'].isnull().sum(axis = 0)
df['yr_renovated'] = df['yr_renovated'].fillna(0)

In [34]:
df.isnull().sum().sum()

0

In [31]:
df = df.dropna()

In [35]:
df.to_csv('kc_house_data_2.csv')